@font-face {
    font-family: 'DBI';
    src: url('../fonts/DMSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/DMSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DB';
    src: url('../fonts/DMSans-Bold.woff2') format('woff2'),
        url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DEB';
    src: url('../fonts/DMSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/DMSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DBlack';
    src: url('../fonts/DMSans-Black.woff2') format('woff2'),
        url('../fonts/DMSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DBlackI';
    src: url('../fonts/DMSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/DMSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DEBI';
    src: url('../fonts/DMSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/DMSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DI';
    src: url('../fonts/DMSans-Italic.woff2') format('woff2'),
        url('../fonts/DMSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DELI';
    src: url('../fonts/DMSans-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/DMSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DLI';
    src: url('../fonts/DMSans-LightItalic.woff2') format('woff2'),
        url('../fonts/DMSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DSBI';
    src: url('../fonts/DMSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/DMSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DT';
    src: url('../fonts/DMSans-Thin.woff2') format('woff2'),
        url('../fonts/DMSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DSB';
    src: url('../fonts/DMSans-SemiBold.woff2') format('woff2'),
        url('../fonts/DMSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DEL';
    src: url('../fonts/DMSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/DMSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DR';
    src: url('../fonts/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DL';
    src: url('../fonts/DMSans-Light.woff2') format('woff2'),
        url('../fonts/DMSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DMI';
    src: url('../fonts/DMSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/DMSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'DM';
    src: url('../fonts/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'DTI';
    src: url('../fonts/DMSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/DMSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}